<h1>Listing dogs</h1>

<table>
  <tr>
    <th>Dog name</th>
    <th>String</th>
    <th>Dog breed</th>
    <th>String</th>
    <th>Dog allergies</th>
    <th>String</th>
    <th>Dog weight</th>
    <th>Int</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dogs.each do |dog| %>
  <tr>
    <td><%= dog.dog_name %></td>
    <td><%= dog.string %></td>
    <td><%= dog.dog_breed %></td>
    <td><%= dog.string %></td>
    <td><%= dog.dog_allergies %></td>
    <td><%= dog.string %></td>
    <td><%= dog.dog_weight %></td>
    <td><%= dog.int %></td>
    <td><%= link_to 'Show', dog %></td>
    <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
    <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dog', new_dog_path %>
