<p id="notice"><%= notice %></p>

<p>
  <b>Dname:</b>
  <%= @dog.dname %>
</p>

<p>
  <b>Breed:</b>
  <%= @dog.breed %>
</p>

<p>
  <b>Allergies:</b>
  <%= @dog.allergies %>
</p>

<p>
  <b>Weight:</b>
  <%= @dog.weight %>
</p>


<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
