<p id="notice"><%= notice %></p>

<p>
  <b>Dog name:</b>
  <%= @dog.dog_name %>
</p>

<p>
  <b>String:</b>
  <%= @dog.string %>
</p>

<p>
  <b>Dog breed:</b>
  <%= @dog.dog_breed %>
</p>

<p>
  <b>String:</b>
  <%= @dog.string %>
</p>

<p>
  <b>Dog allergies:</b>
  <%= @dog.dog_allergies %>
</p>

<p>
  <b>String:</b>
  <%= @dog.string %>
</p>

<p>
  <b>Dog weight:</b>
  <%= @dog.dog_weight %>
</p>

<p>
  <b>Int:</b>
  <%= @dog.int %>
</p>


<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
