<p id="notice"><%= notice %></p>

<div data-role="header" data-position="fixed">
  <%= link_to 'Back', :back %>
  <%= button_to "Delete", @grm_grappt, :method => :delete, :class => 'ui-btn-right', "data-icon" => "delete", :confirm => "Are you sure" %>
  <h1>View Appts</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <li>
      <p>Appointment Date:</p>
      <%= @grm_grappt.gr_date %>
    </li>

    <li>
      <p>Next Appointment:</p>
      <%= @grm_grappt.gr_fdate %>
    </li>
 
    <li>
      <p>Style:</p>
      <%= @grm_grappt.gr_style %>
    </li>
  </ul>
</div>

<div data-role="footer" data-mini="true" data-position="fixed">
  <div data-role="navbar" data-theme="a" data-mini="true">
    <ul>
      <li><a href="../../index.html" data-icon="home">Home</a></li>
      <li><a href="../../index.html" data-icon="arrow-r">Take Pic</a></li>
      <li><a href="../../index.html#settings" data-icon="gear">Settings</a></li>
      <li><a href="../../index.html#about_us" data-icon="info">About Us</a></li>
    </ul>
  </div>
</div>

