<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br />
    <%= t.string :first %>
  </div>
  <div class="field">
    <%= t.label :last %><br />
    <%= t.string :last %>
  </div>
  <div class="field">
    <%= t.label :address %><br />
    <%= t.string :address %>
  </div>
  <div class="field">
    <%= t.label :city %><br />
    <%= t.string :city %>
  </div>
  <div class="field">
    <%= t.label :state %><br />
    <%= t.string :state %>
  </div>
  <div class="field">
    <%= t.label :zip %><br />
    <%= t.string :zip %>
  </div>
  <div class="field">
    <%= t.label :phone %><br />
    <%= t.string :phone %>
  </div>
  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>
