<p id="notice"><%= notice %></p>

<p>
  <b>F name:</b>
  <%= @user.f_name %>
</p>

<p>
  <b>String:</b>
  <%= @user.string %>
</p>

<p>
  <b>L name:</b>
  <%= @user.l_name %>
</p>

<p>
  <b>String:</b>
  <%= @user.string %>
</p>

<p>
  <b>Cust address:</b>
  <%= @user.cust_address %>
</p>

<p>
  <b>String:</b>
  <%= @user.string %>
</p>

<p>
  <b>Cust city:</b>
  <%= @user.cust_city %>
</p>

<p>
  <b>String:</b>
  <%= @user.string %>
</p>

<p>
  <b>Cust state:</b>
  <%= @user.cust_state %>
</p>

<p>
  <b>String:</b>
  <%= @user.string %>
</p>

<p>
  <b>Cust zip:</b>
  <%= @user.cust_zip %>
</p>

<p>
  <b>Integer:</b>
  <%= @user.integer %>
</p>

<p>
  <b>Cust phone:</b>
  <%= @user.cust_phone %>
</p>

<p>
  <b>Integer:</b>
  <%= @user.integer %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
