<h1>Listing a_vet_appts</h1>

<table>
  <tr>
    <th>Vet fname</th>
    <th>String</th>
    <th>Vet lname</th>
    <th>String</th>
    <th>Vet date</th>
    <th>String</th>
    <th>Vet fdate</th>
    <th>String</th>
    <th>Vet vacc</th>
    <th>String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @a_vet_appts.each do |a_vet_appt| %>
  <tr>
    <td><%= a_vet_appt.vet_fname %></td>
    <td><%= a_vet_appt.string %></td>
    <td><%= a_vet_appt.vet_lname %></td>
    <td><%= a_vet_appt.string %></td>
    <td><%= a_vet_appt.vet_date %></td>
    <td><%= a_vet_appt.string %></td>
    <td><%= a_vet_appt.vet_fdate %></td>
    <td><%= a_vet_appt.string %></td>
    <td><%= a_vet_appt.vet_vacc %></td>
    <td><%= a_vet_appt.string %></td>
    <td><%= link_to 'Show', a_vet_appt %></td>
    <td><%= link_to 'Edit', edit_a_vet_appt_path(a_vet_appt) %></td>
    <td><%= link_to 'Destroy', a_vet_appt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New A vet appt', new_a_vet_appt_path %>
