<p id="notice"><%= notice %></p>

<p>
  <b>Vet fname:</b>
  <%= @a_vet_appt.vet_fname %>
</p>

<p>
  <b>String:</b>
  <%= @a_vet_appt.string %>
</p>

<p>
  <b>Vet lname:</b>
  <%= @a_vet_appt.vet_lname %>
</p>

<p>
  <b>String:</b>
  <%= @a_vet_appt.string %>
</p>

<p>
  <b>Vet date:</b>
  <%= @a_vet_appt.vet_date %>
</p>

<p>
  <b>String:</b>
  <%= @a_vet_appt.string %>
</p>

<p>
  <b>Vet fdate:</b>
  <%= @a_vet_appt.vet_fdate %>
</p>

<p>
  <b>String:</b>
  <%= @a_vet_appt.string %>
</p>

<p>
  <b>Vet vacc:</b>
  <%= @a_vet_appt.vet_vacc %>
</p>

<p>
  <b>String:</b>
  <%= @a_vet_appt.string %>
</p>


<%= link_to 'Edit', edit_a_vet_appt_path(@a_vet_appt) %> |
<%= link_to 'Back', a_vet_appts_path %>
