<%= form_for(@stylist) do |f| %>
  <% if @stylist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stylist.errors.count, "error") %> prohibited this stylist from being saved:</h2>

      <ul>
      <% @stylist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sfirst %><br />
    <%= f.text_field :sfirst %>
  </div>
  <div class="field">
    <%= f.label :slast %><br />
    <%= f.text_field :slast %>
  </div>
  <div class="field">
    <%= f.label :specialty %><br />
    <%= f.text_field :specialty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
