<p id="notice"><%= notice %></p>

<p>
  <b>Sfirst:</b>
  <%= @stylist.sfirst %>
</p>

<p>
  <b>Slast:</b>
  <%= @stylist.slast %>
</p>

<p>
  <b>Specialty:</b>
  <%= @stylist.specialty %>
</p>


<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %>
