<p id="notice"><%= notice %></p>

<p>
  <b>Style fname:</b>
  <%= @stylist.style_fname %>
</p>

<p>
  <b>String:</b>
  <%= @stylist.string %>
</p>

<p>
  <b>Stylst lname:</b>
  <%= @stylist.stylst_lname %>
</p>

<p>
  <b>String:</b>
  <%= @stylist.string %>
</p>

<p>
  <b>Style specialty:</b>
  <%= @stylist.style_specialty %>
</p>

<p>
  <b>String:</b>
  <%= @stylist.string %>
</p>


<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %>
