<h1>Listing grm_pics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grm_pics.each do |grm_pic| %>
  <tr>
    <td><%= grm_pic.name %></td>
    <td><%= grm_pic.description %></td>
    <td><%= image_tag grm_pic.image_url(:thumb) %></td>
    <td><%= link_to 'Show', grm_pic %></td>
    <td><%= link_to 'Edit', edit_grm_pic_path(grm_pic) %></td>
    <td><%= link_to 'Destroy', grm_pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grm pic', new_grm_pic_path %>
