<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grm_pic.name %>
</p>

<p>
  <b>Description:</b>
  <%= @grm_pic.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @grm_pic.image_url %>
</p>


<%= link_to 'Edit', edit_grm_pic_path(@grm_pic) %> |
<%= link_to 'Back', grm_pics_path %>
