<p id="notice"><%= notice %></p>
  <div data-role="header" data-position="fixed">
    <%= button_to "Delete", @grm_vetappt, :method => :delete, :class => 'ui-btn-right', "data-icon" => "delete", :onclick => "return confirm('Are you sure?')" %>
    <h1>View Appts</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li>
        <p>Vet First Name:</p>
        <%= @grm_vetappt.vet_fname %>
      </li>

      <li>
        <p>Vet Last Name:</p>
        <%= @grm_vetappt.vet_lname %>
      </li>
 
      <li>
        <p>Date:</p>
        <%= @grm_vetappt.vet_date %>
      </li>
    
      <li>
        <p>Next Appointment Date:</p>
        <%= @grm_vetappt.vet_fdate %>
      </li>
    
      <li>
        <p>Vaccinations Received:</p>
        <%= @grm_vetappt.vet_vacc %>
      </li>
    </ul>
  </div>

  <div data-role="footer" data-mini="true" data-position="fixed">
    <div data-role="navbar" data-theme="a" data-mini="true">
      <ul>
        <li><a href="../../index.html" data-icon="home">Home</a></li>
        <li><a href="grm_pic" data-icon="arrow-r">Take Pic</a></li>
        <li><a href="../../index.html#settings" data-icon="gear">Settings</a></li>
        <li><a href="../../index.html#about_us" data-icon="info">About Us</a></li>
      </ul>
    </div>
  </div>
