<p id="notice"><%= notice %></p>

<div data-role="header" data-position="fixed">
  <a data-rel="back" data-icon="arrow-l" class="ui-btn-left">Back</a>
  <%= link_to 'Edit', edit_grm_dog_path, "data-role" => "button", "data-icon" => "gear"%>
  <h1>View Info</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <li>
      <p>Name: </p>
      <%= @grm_dog.name %>
    </li>
    <li>
      <p>Breed: </p>
      <%= @grm_dog.breed %>
    </li>
    <li>
      <p>Allergies: </p>
      <%= @grm_dog.allergies %>
    </li>
    <li>
      <p>Weight: </p>
      <%= @grm_dog.weight %>
    </li>
  </ul>
</div>

<div data-role="footer" data-mini="true" data-position="fixed">
  <div data-role="navbar" data-theme="a" data-mini="true">
    <ul>
      <li><a href="../../index.html" data-icon="home">Home</a></li>
      <li><a href="../../index.html" data-icon="arrow-r">Take Pic</a></li>
      <li><a href="../../index.html#settings" data-icon="gear">Settings</a></li>
      <li><a href="../../index.html#about_us" data-icon="info">About Us</a></li>
    </ul>
  </div>
</div>
