<%= form_for(@groom) do |f| %>
  <% if @groom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groom.errors.count, "error") %> prohibited this groom from being saved:</h2>

      <ul>
      <% @groom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gdate %><br />
    <%= f.text_field :gdate %>
  </div>
  <div class="field">
    <%= f.label :gfdate %><br />
    <%= f.text_field :gfdate %>
  </div>
  <div class="field">
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
