<h1>Listing grooms</h1>

<table>
  <tr>
    <th>Gdate</th>
    <th>Gfdate</th>
    <th>Style</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grooms.each do |groom| %>
  <tr>
    <td><%= groom.gdate %></td>
    <td><%= groom.gfdate %></td>
    <td><%= groom.style %></td>
    <td><%= link_to 'Show', groom %></td>
    <td><%= link_to 'Edit', edit_groom_path(groom) %></td>
    <td><%= link_to 'Destroy', groom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groom', new_groom_path %>
