<p id="notice"><%= notice %></p>

<p>
  <b>Grappt date:</b>
  <%= @groom.grappt_date %>
</p>

<p>
  <b>String:</b>
  <%= @groom.string %>
</p>

<p>
  <b>Grappt futappdate:</b>
  <%= @groom.grappt_futappdate %>
</p>

<p>
  <b>String:</b>
  <%= @groom.string %>
</p>

<p>
  <b>Grappt style:</b>
  <%= @groom.grappt_style %>
</p>

<p>
  <b>String:</b>
  <%= @groom.string %>
</p>


<%= link_to 'Edit', edit_groom_path(@groom) %> |
<%= link_to 'Back', grooms_path %>
