<p id="notice"><%= notice %></p>

<p>
  <b>Gdate:</b>
  <%= @groom.gdate %>
</p>

<p>
  <b>Gfdate:</b>
  <%= @groom.gfdate %>
</p>

<p>
  <b>Style:</b>
  <%= @groom.style %>
</p>


<%= link_to 'Edit', edit_groom_path(@groom) %> |
<%= link_to 'Back', grooms_path %>
