<p id="notice"><%= notice %></p>

<div data-role="header" data-position="fixed">
  <a data-rel="back" data-icon="arrow-l" class="ui-btn-left">Back</a>
  <%= button_to "delete", @grm_stylist, :method => :delete, :class => 'ui-btn-right', "data-icon" => "arrow-l", :confirm => "Are you sure" %>
  <h1>Pet Stylist</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <li>
      <p>First Name:</b>
      <%= @grm_stylist.styl_fname %>
    </li>

    <li>
      <p>Last Name:</b>
      <%= @grm_stylist.styl_lname %>
    </li>

    <li>
      <p>Specialty:</b>
      <%= @grm_stylist.styl_specialty %>
    </li>
  </ul>
</div>

<div data-role="footer" data-mini="true" data-position="fixed">
  <div data-role="navbar" data-theme="a" data-mini="true">
    <ul>
      <li><a href="../../index.html" data-icon="home">Home</a></li>
      <li><a href="../../index.html" data-icon="arrow-r">Take Pic</a></li>
      <li><a href="../../index.html#settings" data-icon="gear">Settings</a></li>
      <li><a href="../../index.html#about_us" data-icon="info">About Us</a></li>
    </ul>
  </div>
</div>
